{%extends 'utils/base.html'%}
{%block title%}Packet Sniffer{%endblock%}

{%block body%}
<script>
    var kaydirma = true;
    function setKaydir(event){
        kaydirma = !kaydirma;

        if(kaydirma){
            document.querySelector("#kaydir_buton").innerHTML = "Kaydırma";
        }else{
            document.querySelector("#kaydir_buton").innerHTML = "Kaydır";
        }
    }
    function kaydir(){
        if(!kaydirma){
            return;
        }
        document.querySelector("#packet-log").scrollTop = document.querySelector("#packet-log").scrollHeight;
    }
    const sniffer = new WebSocket('ws://'+ window.location.host+'/sniffer/');
    
    sniffer.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if(data.info){
            document.getElementById("bildirim").style.color = "green";
            document.getElementById("bildirim").innerText = data.info;
            setTimeout(function(e){
                document.getElementById("bildirim").style.color = "black";
            },700);
        }
        const area = document.querySelector('#packet-log');
        var temp = "";
        data.message.forEach(element => {
            temp = temp + element + "\n";
        });
        area.value += (temp);
        kaydir();            
    };

    sniffer.onclose = function(e) {
        console.log("Bağlantı koptu");
    };

    window.onload = function(e){
        var filtreleyici = document.getElementById("filtre");
        filtreleyici.addEventListener("keyup",function(event){
            if(event.keyCode == 13){
                sniffer.send(JSON.stringify(
                    {"filtre":this.value}
                ));
            }
        });
    }
</script>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p style="font-size: 20px;" id="bildirim">Durum çubuğu</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <textarea id="packet-log" style="width: 100%;" rows="20"></textarea><br>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <input id="filtre" type="text" style="width:79%;"/>
        <button style="width:20%;" onclick="setKaydir();" id="kaydir_buton">Kaydırma</button><br/>
        <p>
            Eklenebilecek filtreler: tcp,udp,dns,icmp,arp. Filtreler arasına virgül koymalısınız.
        </p>
        
    </div>
</div>

{%endblock%}