{%extends 'utils/base.html'%}
{%block title%}Packet Sniffer{%endblock%}

{%block body%}
<div class="row">
    <div class="col-md-12">

    </div>

</div>

<!--Paket gösterim ekranı-->
<div class="row">
    <div class="col-md-8">
        <p style="font-size: 20px;" id="bildirim">Durum çubuğu</p>
        <select onDblClick="paketDetay(this);" id="packet-log" style="border-radius:5px;width: 100%;resize:none;height:400px;" size="20"></select><br>
        <div id="bar">
            <input id="filtre" style="width:79%;height:30px;" type="text" placeholder="Filtreyi giriniz">
            <div style="display:inline-block;width:20%;">
                <button title="Paket izlemeyi duraklat veya devam ettir" class="bar_buton" id="durDevam" onclick="duraklatDevamet();"><i class="fas fa-pause"></i></button>
                <button title="Yakalanan paketleri CAP dosyası olarak kaydet ve indir" class="bar_buton" id="kaydet" onclick="capKaydet();"><i class="fas fa-download"></i></button>
                <button title="Scroll kaydırmasına izin ver/verme" style="color:rgb(0,138,255);" class="bar_buton" onclick="setKaydir();" id="kaydir_buton"><i class="fas fa-angle-double-down"></i></button>
            </div>
        </div>
        <p id="filtre_mesaj">
            Geçerli filtre: <code>yok</code>
        </p>
    </div>
    <div class="col-md-4">
        <p style="font-size: 20px;">Paket detayı <i title="Paket detayını görmek için ilgili pakete çift tıklayın" class="fas fa-question-circle"></i> </p>
        <textarea id="paket_bilgi" spellcheck="false">

        </textarea>
    </div>
</div>
<!--Paket gösterim ekranı sonu-->

<!-- Download Modal -->
<div class="modal fade" id="indirmeDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Paket Bilgisi</h5>
            </div>
            <div class="modal-body">
                <a id="indirmeLink" href="#">Dosyayı buradan indir</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var kaydirma = true;
    var pause = false;
    const sniffer = new WebSocket('ws://'+ window.location.host+'/sniffer/');
    var current_filter = null;
    var area = null;

    function setKaydir(event){
        kaydirma = !kaydirma;

        if(kaydirma){
            document.getElementById("kaydir_buton").style.color="rgb(0,138,255)";

        }else{
            document.getElementById("kaydir_buton").style.color="black";

        }
    }

    function kaydir(){
        if(!kaydirma){
            return;
        }
        document.querySelector("#packet-log").scrollTop = document.querySelector("#packet-log").scrollHeight;
    }

    function duraklatDevamet(){
        pause = !pause;
        if(pause){
            $("#durDevam>i").removeClass("fa-pause");
            $("#durDevam>i").addClass("fa-play");
        }else{
            $("#durDevam>i").removeClass("fa-play");
            $("#durDevam>i").addClass("fa-pause");
        }
        sniffer.send(JSON.stringify(
            {
                "type":"set",
                "do":"play"
            }
        ));
    }

    function capKaydet(){
        // paket kaydetme isteği gönderme
        if(!pause){
            alert("Öncelikle paket yakalamayı durdurmalısınız");
        }else{
            sniffer.send(JSON.stringify(
                {
                    "type":"set",
                    "do":"save"
                }
            ));
            console.log("Kayıt isteği gönderildi")
        }
    }

    function paketDetay(deger){
        sniffer.send(JSON.stringify(
            {
                "type":"info",
                "do":"packet_info",
                "data":deger.selectedIndex,
            }
        ));
    }

    function bildiri(mesaj){
        // bildirim geldi
        document.getElementById("bildirim").innerText = mesaj;
    }

    sniffer.onmessage = function(e) {
        const data = JSON.parse(e.data);

            if(data.type=="filter"){
                // filtre onayı geldi
                $("#filtre_mesaj").text(data.info);
                
                if(data.value){
                    current_filter = data.value;
                }else{
                    current_filter = null;
                }

                setTimeout(function(e){
                    document.getElementById("filtre_mesaj").innerHTML = "Geçerli filtre: <code>"+(current_filter==null?"yok":current_filter)+"</code>";
                },1000);
            }else if(data.type=="notify"){
                bildiri(data.info)
            }else if(data.type=="packet"){
                // paketler geldi

                if(data.message){
                    var x = null;
                    for(var i=0;i<data.message.length;i++){
                        x = document.createElement("option");
                        x.text = data.message[i];
                        area.add(x);
                    }
                    bildiri("Paket sayısı: "+area.length);
                    kaydir();
                }
            }
            else if(data.type=="info"){
                // paket bilgisi geldi. Burada modal açılacak
                //$("#paketBilgisi").text(data.message);
                //$("#paketDialog").modal();
                $("#paket_bilgi").text(data.message);
                console.log("paket bilgi");
            }else if(data.type=="save"){
                let element = $("#indirmeLink");
                element.attr("href",window.location+"download/"+data.info);
                $("#indirmeDialog").modal();
            }

    };

    sniffer.onclose = function(e) {
        $("#bildirim").text("Oturum sona erdi");
    };

    window.onload = function(e){
        var filtreleyici = document.getElementById("filtre");
        area = document.querySelector('#packet-log');
        filtreleyici.addEventListener("keyup",function(event){
            if(event.keyCode == 13){
                sniffer.send(JSON.stringify(
                    {
                        "type":"set",
                        "do":"filter",
                        "data":this.value,
                    }
                ));
            }
        });
    }

</script>
{%endblock%}