{%extends 'utils/base.html'%}

{%block title%}
Ana Sayfa
{%endblock%}

{%block body%}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title text-center">Packet Studio</h1>

        Packet Studio ile ağınızdaki paketleri web arayüzü yardımıyla izleyebilirsiniz. 
        İsterseniz daha sonra incelemek üzere, izlediğiniz bu paketleri CAP dosyası
        olarak kaydedebilir <a href="/analyzer">Analyzer</a> yardımı ile CAP dosyasındaki
        paketleri daha detaylı bir şekilde inceleyebilirsiniz. 
        <br/>
        <br/>
        Dilerseniz, LAN içerisinde bulunan cihazları görebilir ve bu cihazlar hakkında bilgi alabilirsiniz.
        Gerekli bilgileri ilgili sayfalarda bulabilirsiniz.
        <br/>
        <br/>
        İyi kullanımlar dileriz!
    </div>
</div>
{%endblock%}