{%extends 'utils/base.html'%}

{%load static%}

{%block title%}Pcap Analyzer{%endblock%}

{%block body%}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
		<h3 class="text-center">PCAP Analyzer</h3>
		Kaydettiğiniz PCAP dosyalarını sunucuya göndererek istatistiksel bilgileri web arayüzünde görüntüleyebilirsiniz.
		<br/>
		<br/>
    	<form method="POST" enctype='multipart/form-data'>
    		{% csrf_token %}
	    	{%if form%}
	    		{{form.as_p}}
	        {%endif%}
	        <button type="submit">Gönder</button>
    	</form>
    </div>
</div>
{%endblock%}