<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="initial-scale=1.0,width=device-width" />
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        {%block script%}{%endblock%}

        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>{%block title%}{%endblock%} | PacketStudio</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand text-info" href="/">Packet Studio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/sniffer">Sniffer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/analyzer">Analyzer</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid">
                {%block body%}
                {%endblock%}
        </div>
        <div class="footer">
            <p style="color:silver;">PacketStudio - 2020</p>
        </div>
    </body>
    
</html>